body, p{
    background-color: rgb(37, 32, 32);
    margin: 4px;
    color: rgb(252, 250, 247);

}
.columns {
  display: none;
  justify-content: space-between;
  margin: 296px;
  width: 936px;
}

.column {
  width: 56px;
  background: #5a5555;
}
.Logo{
height: 28px;
width: 89px;
}
.Logo-l{
margin-bottom: 8px;
padding-left: 717px;
padding-top: 92px;

}
.text-social{
    margin-bottom: 6px;
    padding-left: 701px;
    padding-top: 22px;
}
.line{
margin-top: 14px;
}
.face{
    padding-left: 708px;
    padding-top: 4px;
}
.internet{
    display: flex;
    justify-content: space-between;
    width: 121px;
    margin: 15px 707px;
}
.kasper{
  padding-left: 669px;
    padding-top: 30px;  
}
span{
    color: rgb(91, 91, 247);
}